<html>
    <head>
        <title>
            Show Author
        </title>
    </head>
    <body>
        <h1>Author Name: {{ authorName }}</h1>
        <h1>Author Email: {{ authorEmail }}</h1>
    </body>
</html>